body {
  display: flex;
  justify-content: center;
  margin-top: 33px;
}
.App {
  width: 400px;
}
.box {
  display: flex;
  justify-content: space-between;
  gap: 22px;
}

.option {
  padding: 5px 12px;
}
select {
  border: none;
  border-bottom: 1px solid gray;
}
select,
input,
textarea {
  width: 200px;
  padding: 10px 5px;
  margin: 12px 0px;
}
input {
  border: none;
  border-bottom: 1px solid gray;
}
button {
  width: 100px;
  padding: 7px 9px;
}
